*.py[cod]
*.so
*.egg
*.egg-info
*.log
dist
#build
node_modules/

site.pkl
test*.py
log/
logs/
__pycache__/
.idea/

migrations
tests/*
!tests/BaseTest.py
!tests/example.py
!tests/__init__.py

celerybeat-schedule.db
